body {
  font-family: sans-serif; /* contain several fonts as a "fallback" system */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: aliceBlue;
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: sticky; /* my header will always be visible on the top, even if I scroll down*/
  top: 0;
}

.title-wrapper {
  background-color: black;
  width: 100%;
}

 .title {
   color: white;
   font-family: sans-serif;
   font-size: 2rem;
   text-align: center;
 }

 /* '>' is a way to only target the list which is a direct child of 'nav' */
 nav > ul {
   margin: 0;
   padding: 0;
   background-color: black;
 }

 /* This specific selector will insert some text or whitespace after each 'ul' elt */
 nav > ul::after {
   content: "";
   display: block;
   clear: both;
 }

 /* to create an horizontal navbar */
 nav > ul > li {
   float: left;
   position: relative;
 }

 nav > ul > li > a {
   padding: 3vh 3.5vw;
   color: white;
   font-size: 1em;
 }

 /* to remove the bullet points */
 nav li {
   list-style-type: none;
 }

 /* select and style a 'li' elt only when the mouse is on it */
 nav a {
   display: inline-block;
   text-decoration: none;
 }

 a:hover {
   color: #F7C906;
 }


 nav {
   width: 100%;
   background-color: #0000ff;
   border-top: 1px solid white;
   font-family: impact, charcoal, sans-serif;
 }



/* End of my navbar styling - let's start with the main content of the index page*/
p {
  text-align: justify;
} /* with p, i am targeting all the paragraphs of my website because I want them to be justified by default*/


.article p {
  font-family: sans-serif;
}

.explanation h3 {
  margin-bottom: 3rem;
  margin-top: 5rem;
  font-family: sans-serif;
}

h2 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
}

.explanation a:hover {
  color: orange;
}

.explanation p {
  text-align: center;
  padding: 3rem 3rem 3rem 3rem;
  border: solid 1px black;
}

.NPT {
  margin: 5rem 17.5rem 10rem 17.5rem;
  font-family: sans-serif;
}

.NPT_title h2 {
  margin: 5rem 7.5rem 5rem 7.5rem;
  font-family: sans-serif;
}

.NPT img {
  width: 50vw;
}



.cycling {
  margin: 5rem 8.5rem 5rem 8.5rem;
  font-family: sans-serif;
}

.map {
  width: 35vw;
  margin: 3rem 5.5rem 3rem 5.5rem;
  margin-top: 3rem;
}

.map p {
  margin-left: 5rem;
}


.img-map {
  width:80vh;
}

/* start of media queries */

@media (max-width: 1000px) {

  .NPT {
    margin: 5rem 10.5rem 10rem 10.5rem;
    font-size: 1.5rem;

  }

  .NPT_title h2 {
    margin: 5rem 7.5rem 5rem 7.5rem;
    font-family: sans-serif;
  }

  .NPT img {
    width: 65vw;
  }


  .cycling {
    margin: 5rem 6.5rem 5rem 6.5rem;
    font-size: 1.5rem;
  }

  .map {
    width: 65vw;
    margin: 3rem 5.5rem 3rem 5.5rem;
    margin-top: 3rem;
  }

  .map p {
    margin-left: 4rem;
    font-size: 1.6rem;
  }


  .img-map {
    width:90vh;
  }


}
