body {
  font-family: sans-serif; /* contain several fonts as a "fallback" system */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: AliceBlue;
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: sticky; /* my header will always be visible on the top, even if I scroll down*/
  top: 0;
}

.title-wrapper {
  background-color: black;
  width: 100%;
}

 .title {
   color: white;
   font-family: impact, charcoal, sans-serif;
   font-size: 2rem;
   text-align: center;
 }

.title h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: sans-serif;
}


/* '>' is a way to only target the list which is a direct child of 'nav' */
nav > ul {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* This specific selector will insert some text or whitespace after each 'ul' elt */
nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

/* to create an horizontal navbar */
nav > ul > li {
  float: left;
  position: relative;
}

nav > ul > li > a {
  padding: 3vh 3.5vw;
  color: white;
  font-size: 1em;
}

/* to remove the bullet points */
nav li {
  list-style-type: none;
}

/* select and style a 'li' elt only when the mouse is on it */
nav a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: #F7C906;
}


nav {
  width: 100%;
  background-color: #0000ff;
  border-top: 1px solid white;
  font-family: impact, charcoal, sans-serif;
}

/* End of my navbar styling - let's start with the main content of the index page*/
p {
  text-align: justify;
} /* with p, i am targeting all the paragraphs of my website because I want them to be justified by default*/

.article p {
  text-align: center;
  margin-bottom: 1.5rem;
}

.article p {
  font-family: sans-serif;
}


 a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1rem;
  border:
}


.le_petit_journal a:hover {
  color: orange;
}

#le_petit_journal {
  margin-bottom: 3rem;
}

#marie_claire {
    margin-bottom: 3rem;
}

#datawork {
  margin-bottom: 3rem;
}


.text {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: sans-serif;
  width: 50vw;
}

.text p {
  line-height: 1.5rem;
}



.resume img {
  margin-top: 2rem;
  width:120vh;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.vis1 {
  flex: 0 0 100%;
  margin-bottom: 2rem;

}

.vis1 img {
    width: 40%;
    border: solid 1px black;
}

.vis2 {
  flex: 0 0 100%;
  margin-bottom: 2rem;
}

.vis2 img {
    width: 40%;
    border: solid 1px black;
}

.vis3 {
  flex: 0 0 100%;
  margin-bottom: 3rem;

}

.vis3 img {
    width: 40%;
    border: solid 1px black;
}

.graph {
  width: 40vw;
  margin-right: 5rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

.explanation {
  margin: auto;
}

.explanation p {
  text-align: center;
}

footer {
  width: 100%;
  background-color: black;
}

footer p {
  float: right;
  margin-right: 2rem;
  margin-top: 2rem;
  color: black;
}

/* start of media queries */

@media (max-width:360px) {
  .submenu-what {
    display: none;
  }
}

@media (max-width:1000px) {
  .text {
    width: 80vw;
    font-size: 1.2rem;
  }

  .resume img {
    width: 90vw;
  }

  .vis1 img {
    width: 70%;
  }

  .vis2 img {
    width: 70%;
  }

  .vis3 img {
    width: 70%;
  }

  .vis1 {
    font-size: 2rem;
  }

  .vis2 {
    font-size: 2rem;
  }

  .vis3 {
    font-size: 2rem;
  }

  .explanation {
    font-size: 2rem;
  }

  .graph {
    width: 70vw;
  }

  .static {
    font-size: 2rem;
  }

  .article {
    font-size: 1.8rem;
  }

  .article p a {
    font-size: 1.5rem;
  }


}
